theme = nord
font-family = "RecMonoCasual Nerd Font Mono"
{{- if eq .chezmoi.hostname "HRBs-MBP"}}
font-size = 19
{{- else}}
font-size = 16
{{- end}}
background-opacity = 0.90

fullscreen = true
window-width = 100
window-height = 60
window-decoration = false
macos-non-native-fullscreen = visible-menu
macos-option-as-alt = true
quick-terminal-animation-duration = 0

# Keybinds: use `xxd`

# global keybinding
keybind = global:ctrl+space=toggle_quick_terminal
keybind = all:cmd+shift+f=toggle_fullscreen
keybind = all:cmd+shift+n=new_window

# disable
keybind = cmd+a=ignore
keybind = cmd+h=ignore
keybind = cmd+t=ignore

# delete by word and line -- ^w, ^u
keybind = alt+backspace=text:\x17
keybind = cmd+backspace=text:\x15

# tmux sessionizer -- ^bs
keybind = cmd+k=text:\x02\x73

# tmux & vim navigation -- ^[jkhl]
# keybind = cmd+m=text:\x0a
# keybind = cmd+n=text:\x0b
# keybind = cmd+e=text:\x08
# keybind = cmd+i=text:\x0c

# tmux navigation -- ^b[jkhl]
keybind = cmd+m=text:\x02\x6a
keybind = cmd+n=text:\x02\x6b
keybind = cmd+e=text:\x02\x68
keybind = cmd+i=text:\x02\x6c

# ^/ == ^_
keybind = ctrl+/=text:\x1f

# Escape[enter, ;, ']
keybind = shift+enter=text:\x1b\r
keybind = ctrl+semicolon=text:\x1b;
keybind = ctrl+apostrophe=text:\x1b'
