ipc_socket = true

[colors.bright]
black = "#4c566a"
blue = "#81a1c1"
cyan = "#8fbcbb"
green = "#a3be8c"
magenta = "#b48ead"
red = "#bf616a"
white = "#eceff4"
yellow = "#ebcb8b"

[colors.cursor]
cursor = "#d8dee9"
text = "#2e3440"

[colors.dim]
black = "#373e4d"
blue = "#68809a"
cyan = "#6d96a5"
green = "#809575"
magenta = "#8c738c"
red = "#94545d"
white = "#aeb3bb"
yellow = "#b29e75"

[colors.footer_bar]
background = "#434c5e"
foreground = "#d8dee9"

[colors.normal]
black = "#3b4252"
blue = "#81a1c1"
cyan = "#88c0d0"
green = "#a3be8c"
magenta = "#b48ead"
red = "#bf616a"
white = "#e5e9f0"
yellow = "#d08770"

[colors.primary]
background = "#2e3440"
dim_foreground = "#a5abb6"
foreground = "#d8dee9"

[colors.search.matches]
background = "#88c0d0"
foreground = "CellBackground"

[colors.selection]
background = "#4c566a"
text = "CellForeground"

[colors.vi_mode_cursor]
cursor = "#d8dee9"
text = "#2e3440"

[font]
{{- if eq .chezmoi.hostname "HRBs-MacBook-Pro" }}
size = 19
{{- else if eq .chezmoi.hostname "HRBs-MacBook-Pro-Work" }}
size = 17
{{- end }}

# families: FiraCode(Retina), RecMono[Linear, Duotone, Casual]
[font.normal]
family = "RecMonoCasual Nerd Font"
style = "Regular"

[font.bold]
style = "Bold"

[font.bold_italic]
family = "RecMonoCasual Nerd Font"
style = "Bold Italic"

[font.italic]
family = "RecMonoCasual Nerd Font"
style = "Italic"

[hints]
alphabet = "ntesiroamglpufyw;q"

[keyboard]
bindings = [
    # colemak-dhm
    { key = "H", mode = "Vi|~Search", action = "Up" },
    { key = "K", mode = "Vi|~Search", action = "Down" },
    { key = "J", mode = "Vi|~Search", action = "Left" },
    { key = "L", mode = "Vi|~Search", action = "Right" },

    # MacOS
    { key = "Q", mods = "Command", action = "Quit" },
    { key = "W", mods = "Command", action = "Quit" },
    { key = "H", mods = "Command", action = "None" },   # disable window hiding
    { key = "K", mods = "Command", chars = "\u0002s" }, # ^bs -- open tmux sessionizer
    { key = "M", mods = "Command", chars = "\u000a" },  # ^j -- tmux pane nav left
    { key = "N", mods = "Command", chars = "\u000b" },  # ^k -- tmux pane nav down
    { key = "E", mods = "Command", chars = "\u0008" },  # ^h -- tmux pane nav up
    { key = "I", mods = "Command", chars = "\u000c" },  # ^l -- tmux pane nav right

    { key = "Back",   mods = "Command", chars = "\u0015" }, # ^u -- delete line
    { key = "Back",   mods = "Alt",     chars = "\u0017" }, # ^w -- delete word
    { key = "Slash",  mods = "Control", chars = "\u001F" }, # ^/ == ^_
    { key = "Return", mods = "Control", chars = "\u001B[13;4u" },
    { key = "Return", mods = "Shift",   chars = "\u001B[13;2u" },

    { key = "Left",  mods = "Alt", chars = "\u001bb" },  # ^[b (alt-b) -- move back a word
    { key = "Right", mods = "Alt", chars = "\u001bf" },  # ^[f (alt-f) -- move forward a word
]

[shell]
program = "/opt/homebrew/bin/zsh"

[window]
decorations = "buttonless"
dynamic_padding = true
opacity = 0.97             # good values: 0.97, 0.95, 0.93
startup_mode = "Maximized"
option_as_alt = "Both"     # escape macos option modifier

[window.padding]
x = 0
y = 0
